<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Srivatsan Veeraraghavan</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="twitter.com/vsrivatsan2096" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="facebook.com/vsrivatsan2096" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="instagram.com/vsrivatsan2096" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="linkedin.com/in/vsrivatsan2096" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#experience" class="nav-link scrollto"><i class="bx bx-file-blank"></i><span>Experience</span></a>
        </li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Skills</span></a></li>
        <li><a href="#education" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Education</span></a></li>
        <li><a href="#certificates" class="nav-link scrollto"><i class="bx bx-book-content"></i><span>Certificates</span></a>
        </li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    <h1>Srivatsan Veeraraghavan</h1>
    <p>I'm <span class="typed" data-typed-items="Associate Lead Product Engineer I,Full Stack Developer"></span></p>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= Experience Section ======= -->
  <section id="experience" class="experience">
    <div class="container">

      <div class="section-title">
        <h2>Experience</h2>
        <!-- <p></p> -->
      </div>

      <div class="row">
        <div class="" data-aos="fade-up" data-aos-delay="100" *ngIf="experiences">
          <div class="experience-item" *ngFor="let experience of experiences">
            <h4>{{ experience.position }}</h4>
            <h5>{{ experience.timeline }}</h5>
            <p><em>{{ experience.company }}</em></p>
            <ul>
              <li *ngFor="let work of experience.works">{{work}}</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End Experience Section -->

  <!-- ======= Skills Section ======= -->
  <section id="skills" class="skills section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>
        <!-- <p></p> -->
      </div>

      <div class="row skills-content">

        <div data-aos="fade-up">

          <div class="progress col-xs-12" *ngFor="let skill of skills">
            <span class="skill">{{ skill.name }} <i class="val">{{ skill.percent }}%</i></span>
            <div class="progress-bar-wrap">
              <div class="progress-bar progress-bar-striped progress-bar-animated" [ngClass]="colorToClass[skill.color]" role="progressbar" attr.aria-valuenow="{{skill.percent}}" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End Skills Section -->

  <!-- ======= Education Section ======= -->
  <section id="education" class="education">
    <div class="container">

      <div class="section-title">
        <h2>Education</h2>
      </div>

      <div class="row">
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <div class="education-item pb-4">
            <h3>Bachelor of Engineer in Computer Science and Engineering</h3>
            <h5>2015 - 2019</h5>
            <p><em>PSG Institute of Technology and Applied Research, Coimbatore, India</em></p>
          </div>
          <div class="education-item pb-4">
            <h3>Higher Secondary Education</h3>
            <h5>2013 - 2015</h5>
            <p><em>Infant Jesus Matriculation Higher Secondary School, Tiruppur, India</em></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Certificates Section ======= -->
  <section id="certificates" class="certificate section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Certificates</h2>
      </div>

      <div class="row certificate-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 certificate-item" *ngFor="let certificate of certificates">
          <div class="certificate-wrap">
            <img [src]="certificate.image" class="certificate-img img-fluid" [alt]="certificate.image">
            <div class="certificate-links">
              <a [href]="certificate.image" data-gallery="certificateGallery" class="certificate-lightbox">
                <i class="bx bx-plus"></i></a>
              <a [href]="certificate.document" target="_blank" title="Open document"><i class="bx bx-link"></i></a>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Certificate Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Trichy, Tamil Nadu, India</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>vsrivatsan2096&#64;gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 94425 68018</p>
            </div>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26169.86159255494!2d78.68401398060924!3d10.8599729191799!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baaf5d323698cc5%3A0x1a1f09ca2c0331ad!2sHotel%20Temple%20IN!5e0!3m2!1sen!2sus!4v1707671695829!5m2!1sen!2sus"
              frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
          <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Name</label>
                <input type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="name">Your Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
              <label for="name">Message</label>
              <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <!-- <section id="footer" class="footer">
    <footer id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>iCertificate</span></strong>
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
      </div>
    </footer>
  </section> -->
  <!-- End  Footer -->

</main><!-- End #main -->